{% extends "view_simulation_base.html" %}
{% load static %}

{% block extra_content_current_simulation %}
<div class="container text-center">
                            <div class="row">

                                <div class="col-12">
                                    <button class="btn btn-primary btn-lg btn-block" id="stop-button" data-toggle="modal" data-target="#modal">
                                        Stop
                                    </button>
                                </div>

                            </div>




                            <!-- Modal -->
                            <div class="modal fade" id="modal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Your simulation has been stopped</h5>
                                        </div>
                                        <div class="modal-body">
                                            Do you want to save this simulation?
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <a href="{% url 'save_simulation_view' simulation_id=simulation_id %}">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-button">Save
                                            </button>
                                            </a>
                                            <a href="{% url 'drop_simulation' simulation_id=simulation_id %}">
                                            <button type="button" class="btn btn-primary" id="exit-button">Exit
                                            </button>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
</div>





{% endblock %}


{% block extra_scripts_current_simulation %}
<script src="{% static 'js/stop_button.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}